.btn--open{
    width: 300px;
    height: 70px;
    border: none;
    box-shadow: 0px 0px 0px 7px rgb(255, 208, 0);
    color: rgb(255, 208, 0);
    background-color: rgb(156, 128, 0);
    border-radius: 30px;
    font-size: 20px;
    transition: all 0.5s;
}
.btn--open:hover,
.btn--open:focus{
    background-color: white;
    box-shadow: 0px 0px 0px 7px rgb(156, 128, 0);
    color: rgb(156, 128, 0)
}
.btn--close {
    border: 1px rgb(145, 145, 145) solid;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    color: black;
    padding: 10px;
    transition: all 0.2s;
}

.btn--close:hover,
.btn--close:focus {
    background-color: darkgray;
    
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transform: scale(1.5);
    transition: trnasform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.modal__wreapper {
    padding: 30px;
    background-color: #fff;
    max-width: 600px;
    width: 70%;
    border-radius: 20px;
    background-color: rgb(150, 109, 34);
    text-align: center;
}
.modal--open {
    display: flex;
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}